<div id="home" class="page__screen">
    <div class="screen__content" onmousewheel="scrollToVideo()">
      <section class="bike_page">
        <div class="container">
          <div class="text">
            <div class="subtitle">Быстрый. Дерзкий</div>
            <h1 class="title">Велосипед советский</h1>
            <button class="btn">
              <p>Заказать</p>
            </button>
          </div>
          <div class="img_bike">
            <img class="bike" src="./images/Велик.png" alt="#" />
            <img class="shadow" src="./images/Тень.png" alt="#" />
          </div>
        </div>
        <span class="back"></span>
        <div class="mobile-back">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="375"
            height="188"
            viewBox="0 0 375 188"
            fill="none"
          >
            <path
              d="M375 37.0005L375 188L-8.21774e-06 188L0 -1.63918e-05L375 37.0005Z"
              fill="#FC0000"
            />
          </svg>
        </div>
      </section>
    </div>
</div>